<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingStandardDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B53F6D121C89B129007C4C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B53F6D2B1C89B12A007C4C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B53F6D361C89B12A007C4C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
